# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
/build/
/dist/
/.eggs/
/*.egg-info/

# Unit test / coverage reports
/.tox/
/.coverage
/.coverage.*
/.pytest_cache/

# Sphinx documentation
/doc/build/

# pyenv
/.python-version

# Environments
/.venv/

# mypy
/.mypy_cache/

# Vim
*.sw?
