#!/usr/bin/make -f

export PYBUILD_NAME = gjson-py
export PYBUILD_TEST_PYTEST = 1
export HOME = /tmp

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	SETUPTOOLS_SCM_PRETEND_VERSION="$(shell dpkg-parsechangelog -S version | cut -d '+' -f 1)" python3 setup.py develop --user
	py.test-3 --strict --cov-report=term-missing --cov=gjson tests/unit

override_dh_installman:
	SETUPTOOLS_SCM_PRETEND_VERSION="$(shell dpkg-parsechangelog -S version | cut -d '+' -f 1)" python3 setup.py build_sphinx -b man
	sed -i='' -e 's/^\.B/.B /' doc/build/man/gjson.1
	dh_installman
